In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.metrics import accuracy_score

In [2]:
train=pd.read_csv(r"C:\Users\neelu\Documents\VIT stuff\sem4\ML\Regression\input\train.csv")
test=pd.read_csv(r"C:\Users\neelu\Documents\VIT stuff\sem4\ML\Regression\input\test.csv")

In [3]:
train.head()

,Unnamed: 0,age,sex,bmi,children,charges,region,smoker
0,559,-1.438764,0.989591,0.798339,-0.908614,-0.960225,1,0
1,273,0.768473,0.989591,-0.526320,-0.078767,-0.301744,0,0
2,471,-1.509965,-1.010519,-0.089961,-0.908614,-0.914210,0,0
3,22,-1.509965,0.989591,0.563756,-0.908614,-1.002307,2,0
4,939,0.982076,0.989591,-0.194130,-0.908614,-0.312485,2,0

In [4]:
train.drop('Unnamed: 0',axis=1)

           age       sex       bmi  children   charges  region  smoker
0    -1.438764  0.989591  0.798339 -0.908614 -0.960225       1       0
1     0.768473  0.989591 -0.526320 -0.078767 -0.301744       0       0
2    -1.509965 -1.010519 -0.089961 -0.908614 -0.914210       0       0
3    -1.509965  0.989591  0.563756 -0.908614 -1.002307       2       0
4     0.982076  0.989591 -0.194130 -0.908614 -0.312485       2       0
...        ...       ...       ...       ...       ...     ...     ...
1065  0.198863 -1.010519  1.748977 -0.078767 -0.464223       0       0
1066 -1.367563 -1.010519  0.206139 -0.908614 -0.909410       1       0
1067  0.839674 -1.010519 -0.797813 -0.078767 -0.281641       3       0
1068  0.198863  0.989591  0.563756 -0.908614 -0.602263       3       0
1069  0.341265  0.989591  0.599846 -0.078767 -0.505800       2       0

[1070 rows x 7 columns]

In [5]:
test.drop('Unnamed: 0', axis=1)

          age       sex       bmi  children   charges  region  smoker
0   -0.157143 -1.010519 -0.479567  1.580926 -0.494728       1       0
1   -0.228344 -1.010519 -0.619825 -0.908614 -0.661073       1       0
2    1.409283  0.989591  1.055889 -0.078767 -0.076267       3       0
3    1.551686 -1.010519 -0.915925 -0.908614  0.928725       2       0
4   -0.726752 -1.010519 -0.760083 -0.908614 -0.787573       1       0
..        ...       ...       ...       ...       ...     ...     ...
263  0.768473  0.989591  0.580160  0.751079  2.444050       3       1
264 -0.940356 -1.010519  1.561966 -0.908614 -0.831786       1       0
265 -1.438764  0.989591 -0.557488  0.751079  0.761906       1       0
266  1.266881  0.989591  1.686640 -0.908614 -0.140773       0       0
267  0.198863  0.989591  0.870519  0.751079 -0.504737       2       0

[268 rows x 7 columns]

In [6]:
Ytrain=train.charges
Ytest=test.charges
Xtrain=train.drop('charges',axis=1)
Xtest=test.drop('charges',axis=1)

Linear Regression

In [7]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression().fit(Xtrain,Ytrain)
print("Accuracy ",lr.score(Xtest,Ytest))

Accuracy  0.6956850068945715

In [8]:

pickle.dump(lr,open(r'C:\Users\neelu\Documents\VIT stuff\sem4\ML\Project2\model\LinearRegression.pkl','wb'))

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\neelu\\Documents\\VIT stuff\\sem4\\ML\\Project2\\model\\LinearRegression.pkl'

Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score,mean_squared_error

Ytrain1=train.charges
Ytest1=test.charges
Xtrain1=train.drop(['charges','region'],axis=1)
Xtest1=test.drop(['charges','region'],axis=1)

In [ ]:
quad=PolynomialFeatures(degree=2)
Xtrain=quad.fit_transform(Xtrain)
Xtest=quad.fit_transform(Xtest)

In [ ]:
plr=LinearRegression().fit(Xtrain,Ytrain)
print("Accuracy: ",plr.score(Xtest,Ytest))

Accuracy:  0.7965631594064495

In [ ]:
pickle.dump(plr,open(r"C:\Users\neelu\Documents\VIT stuff\sem4\ML\Project2\model\PolynomialRegression.pkl",'wb'))